[Unit]
Description=gunicorn wsgi server

[Service]
Type=simple
WorkingDirectory=/srv/
ExecStart=/usr/local/bin/gunicorn spiders:app -c /srv/conf/gunicorn.py
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
